@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chiron GoRound TC", sans-serif;
}

:root {
    --largura-barra-lateral: 270px;
    --largura-main: calc(100% - var(--largura-barra-lateral));
}

body {
    min-height: 100vh;
    background-color: var(--fundo);
}

.conteudo {
    margin-left: var(--largura-barra-lateral);
    min-height: 100vh;
    padding: 100px 60px;
}

.boas-vindas {
    h2 {
        font-size: 31px;
        margin-bottom: 15px;
    }

    h4 {
        color: var(--texto-secundario);
        font-weight: 200;
        font-size: 17px;
    }
}

h3 {
    font-size: 22px;
}

.cards-grid {
    margin: 30px 0 40px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.card {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 237px;
    height: 127px;
    background-color: var(--superficie);
    border: 1px solid var(--borda);
    border-radius: 20px;
    padding: 10px 20px;
    color: var(--texto-secundario);
    gap:20px;
}

.card-number {
    font-size: 30px;
    font-weight: 600;
}

.tarefas {color: var(--roxo);}
.provas {color: var(--provas);}
.trabalhos {color: var(--trabalhos);}
.concluidas {color: var(--concluidas);}

li span {
    color: var(--texto-secundario);
    padding: 10px 0;
}
