@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

:root {
    --largura-barra-lateral: 270px;
    --fundo: #F7F7FB;
    --roxo: #7C5CFC;
    --borda: #E7E7EF;
    --texto-primario: #20212A;
    --texto-secundario: #77798A;
}

body {
    height: 900vh;
}

.main {
    background-color: var(--fundo);
    position: absolute;
    top: 0;
    z-index: 1;
    left: var(--largura-barra-lateral);
    height: 100%;
    width: calc(100% - var(--largura-barra-lateral));
}